{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h2>Договоры аренды</h2>
    <div class="row">
        <div class="col d-flex justify-content-end">
            <a href="{% url 'create_agreement' %}" class="btn btn-success mb-3">Заключить договор аренды</a>
        </div>
    </div>
    <table class="table ">
        <thead>
            <tr>
                <th>№ док.</th>
                <th>Арендатор</th>
                <th>Помещение</th>
                <th>Дата заключения</th>
                <th>Дата завершения</th>
                <th>Оплачено до</th>
                <th>Действующие</th>
                <th>Период</th>
                <th>Тариф за месяц</th>
                <th>Действия</th>
            </tr>
            <tr>
                <form method="get" class="mb-3">
        
                        <th>
                            <input type="text" id="agreement_id" name="agreement_id" class="form-control" value="{{ request.GET.agreement_id }}">
                        </th>
                        <th>
                            <input type="text" id="organization_name" name="organization_name" class="form-control" value="{{ request.GET.organization_name }}">
                        </th>
                        <th></th>
                        <th>
                            <input type="date" id="start_date" name="start_date" class="form-control" value="{{ request.GET.start_date }}">
                        </th>
                        <th>
                            <input type="date" id="end_date" name="end_date" class="form-control" value="{{ request.GET.end_date }}">
                        </th>
                        <th>
                            <input type="date" id="paid_until" name="paid_until" class="form-control" value="{{ request.GET.paid_until }}">
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th><button type="submit" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                              </svg>
                            </button>
                        </th>
                </form>
            </tr>

        </thead>
        <tbody>
            {% for agreement in agreements %}
            <tr>
                <td>№{{ agreement.agreement_id }}</td>
                <td>{{ agreement.tenant.organization_name }}</td>
                <td>{{ agreement.rental_space.floor }}.{{ agreement.rental_space.number }}</td>
                <td>{{ agreement.start_date|date:"d.m.y" }}</td>
                <td>{{ agreement.end_date|date:"d.m.y" }}</td>
                <td>{{ agreement.paid_until|date:"d.m.y"  }}</td>
                <td>{{ agreement.is_active }}</td>
                <td>{{ agreement.start_date|date:"d.m.y" }} - {{ agreement.end_date|date:"d.m.y" }}</td>
                <td>{{ agreement.monthly_payment }} ₽</td>
                <td>
                    {% comment %} <a href="#" class="btn btn-sm btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </a>
                    <a href="{% url 'delete_contract' agreement.agreement_id %}" class="btn btn-sm btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </a> {% endcomment %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
